window#waybar {
    background: #282a36;
}

.module,button {
    border-radius: 0px;
    padding: 0px 3px;
    font-size: 15px;
    font-family: Ubuntu Nerd Font
}

#battery {
    background: #50fa7b;
    color: #282a36;
}

#cpu {
    background: #bd93f9;
    color: #282a36;
}

#clock {
    background: #bd93f9;
    color: #282a36;
}

#custom-dunst-status {
    background: #50fa7b;
    color: #282a36;
}
#custom-dunst-clear {
    background: #50fa7b;
    color: #282a36;
}
#custom-dunst-history-view {
    background: #50fa7b;
    color: #282a36;
}
#custom-dunst-history-clear {
    background: #50fa7b;
    color: #282a36;
}

#tags {
    background: #44475a;
    color: #f8f8f2;
}
#tags button {
    margin-left: 3px;
    margin-right: 3px;
}
#tags button.occupied {
    background: #f1fa8c;
    color: #282a36;
}
#tags button.focused {
    background: #bd93f9;
    color: #282a36;
}
#tags button.urgent {
    background: #ff5555;
    color: #282a36;
}

#disk {
    background: #ff79c6;
    color: #282a36;
}

#memory {
    background: #8be9fd;
    color: #282a36;
}

#custom-power-menu {
    background: #8be9fd;
    color: #282a36;
}

#pulseaudio {
    background: #ff5555;
    color: #282a36;
}

#tray {
    background: #44475a;
}
